/* header */

.app__home-overlay_header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
	height: 50px;
	padding: 2rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(20px);
}

.logo {
	margin-top: 1rem;
	width: 30px;
}

.logo img {
	width: 100%;
}

.nav {
	display: flex;
}

.nav a,
.like {
	color: var(--color-text);
	font-weight: 600;
	text-decoration: none;
	margin-left: 2rem;
	padding: 1.3rem 0;
	position: relative;
}

.like::before {
	background-color: rgb(255, 0, 43);
}

.nav a::before {
	background-color: var(--color-orange);
}

.nav a::before,
.like::before {
	content: "";
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 8%;

	z-index: 1;

	transition: transform 1s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(0);
}

.nav a:hover::before,
.like:hover::before {
	transform: scale(1);
}

/* search bar */

.app__searchbar {
	position: absolute;
	width: 400px;
	background-color: var(--color-bg-black);

	display: flex;
	justify-content: space-between;
	padding: 0.3rem;
	border-radius: 0.7rem;

	z-index: 555;
}

.app__searchbar-focused {
	top: 10vh;
	left: 50%;
	transform: translateX(-50%);
}

.app__searchbar-normal {
	bottom: 26vh;
	left: 13vw;
}

.app__searchbar input {
	background: none;
	border: none;
	padding-left: 1rem;
	color: var(--color-text);
	font-size: 1.23rem;
	width: 80%;
	transition: 0.3s;
}

.app__searchbar input:focus {
	bottom: -110vh;
	outline: none;
}

.app__searchbar input::placeholder {
	color: rgb(252, 251, 249);
}

.app__searchbar button {
	background: none;
	border: none;
	cursor: pointer;

	transition: 0.3s;
}

.app__searchbar button:hover {
	transform: translateY(-2px);
}

.app__searchbar button img {
	width: 1.6rem;
	margin: 0.2rem;
}

/* Footer */

.app__home-overlay_footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border-top: 1px solid var(--color-line1);

	display: flex;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(15px);
}
.footer-address,
.footer-git {
	color: var(--color-light1);
	display: flex;
	align-items: center;
	gap: 2rem;

	height: 100%;
}

.footer-address {
	padding-left: 1.3rem;

	border-right: 1px solid var(--color-line1);
}

.footer-git {
	padding: 0 1.3rem;
	border-left: 1px solid var(--color-line1);
}

.links {
	height: 100%;
	display: flex;
	align-items: center;
}
.links a {
	padding: 0 1rem;
	border-left: 1px solid var(--color-line1);
}

.footer-git a,
.links a {
	text-decoration: none;
	color: var(--color-light1);
	font-size: 1.2rem;
	height: 100%;
	display: flex;
	align-items: center;
}

.footer-git a:hover,
.links a:hover {
	transform-origin: translateY(-2px);
	color: var(--color-light2);
}
