.app__search {
	position: relative;

	width: 100vw;
	height: 100vh;
	color: var(--color-text);
}

.app__search-bg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.app__search-bg img {
	width: 100%;
	height: 100%;

	opacity: 0.5;
}

.app__search-overlay {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;

	padding: 3rem;
}

.app__search-overlay p {
	font-size: 1.3rem;
	color: white;
}

.app__search-overlay p span {
	color: blueviolet;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}

.app__search-results {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 4rem;
}
