.app__detail {
	position: relative;
	top: 0;
	height: 100vh;
	width: 100vw;

	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app__detail-back {
	align-self: flex-end;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* back btn */

.app__detail-back button {
	background-color: rgba(254, 254, 254, 0.24);
	border: 1px solid white;
	border-radius: 8px;
	padding: 0.5rem 2rem;
	color: rgba(255, 255, 255, 0.622);
	font-weight: 500;
	font-size: 1rem;
}

.app__detail-back button:hover {
	cursor: pointer;
	color: white;
}

/* user data */

.app__detail-data {
	color: var(--color-text);
	padding: 1.5rem 5rem;
	display: flex;
	width: 100%;
	height: 90%;
}

.app__detail-data_user {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	width: 250px;
}

.app__detail-data_user .avatar {
	width: 250px;
	height: 250px;

	border: 1px solid var(--color-light1);
	border-radius: 50%;
}

.avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.name {
	font-size: 1.5rem;
}

.login {
	color: var(--color-light1);
}

.location,
.follow {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.url {
	text-decoration: none;
	color: var(--color-light2);
	width: 100%;

	padding: 0.3rem;
	background-color: var(--color-light1);
	border: 1px solid var(--color-light2);
	border-radius: 10px;
	text-align: center;
	transition: 0.2s;
}

.url:hover {
	border: 1px solid white;
	color: white;
}

.blog a {
	text-decoration: none;
	color: var(--color-light2);
	overflow-x: hidden;
}

.blog a:hover {
	color: white;
}

.endline {
	margin-top: 1.2rem;
	background-color: var(--color-light1);
	width: 100%;
	height: 1px;
}

/* attributes */

.app__detail-data_attributes {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	padding: 2rem 4rem;
}

.attributes__link {
	display: flex;
	gap: 3rem;
	font-size: 1.3rem;
	color: var(--color-light2);
}

.link {
	padding: 0.5rem 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
	cursor: pointer;
}

.link::before {
	position: absolute;
	bottom: 0;
	content: "";
	width: 100%;
	height: 10%;
	background-color: var(--color-orange);

	transition: transform 0.3s;
	transform-origin: 0, 0;
	transform: scale(0);
}

.link:hover::before {
	transform: scale(1);
}

.selected::before {
	transform: scale(1);
}

.attribute__data {
	height: 580px;
	overflow-y: auto;
}
