body {
	background-color: var(--color-bg);
}

/* colors */
:root {
	--color-text: white;
	--color-text-blue: #6f40c9;
	--color-text-comment: #5c536e;
	--color-orange: #fea55f;
	--color-bg: #011627;
	--color-bg-black: #000305;
	--color-light1: #607b96;
	--color-light2: #bbd9f6;
	--color-line2: #929292;
	--color-line1: #1e2d3d;
	--color-green: #2ea043;
}
