.app__home {
	position: relative;
	height: 99vh;
	width: 100vw;

	background-color: var(--color-bg);
	color: var(--color-text);
}

.app__home-bg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.app__home-bg img {
	width: 100%;
	height: 100%;
}

.app__home-overlay {
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
