.app__home {
	position: relative;
	height: 100vh;
	width: 100vw;

	color: var(--color-text);
}

.app__home-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.app__home-bg img {
	width: 100%;
	height: 100%;

	opacity: 0.4;
}

.app__home-overlay {
	position: absolute;
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 10rem;
}

/* home body */

.app__home-overlay_body {
	display: flex;
	align-items: center;

	padding: 3rem 14rem;
}

.body__content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.p__large {
	font-size: 4rem;
}

.p__small {
	font-size: 1.2rem;
}

.P__medium {
	color: var(--color-text-comment);
	font-size: 1.5rem;
}
.body__img {
	width: 760px;
}

.body__img img {
	width: 100%;
}
